body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    
}


.container {
    background-color: #fff;
    margin: 50px auto;
    width: 450px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.number{
    font-size: 60px;
    margin: 20px 0;
    color: rgb(53, 118, 246);
}


.message{
    font-size: 20px;
    color: green;
    margin-bottom: 20px;
}


button{
    cursor: pointer;
    padding: 8px 16px;
    font-size: 18px;
    background-color: #49c5ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 5px;
}

button:hover:enabled{
    background-color: #227efe;
    transition: 0.4s;
}
button:active {
    transform: scale(0.8); 
}

button.disabled{
    color: gray;
}
